service: serverless-ts-ecommerce

frameworkVersion: '4'

provider:
  name: aws
  runtime: nodejs20.x
  region: us-east-1
  stage: dev
  
  environment:
    USERS_TABLE: ${self:service}-users-${sls:stage}
  
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - dynamodb:PutItem
            - dynamodb:GetItem
            - dynamodb:Scan
            - dynamodb:DeleteItem
          Resource:
            - arn:aws:dynamodb:${aws:region}:${aws:accountId}:table/${self:service}-users-${sls:stage}

resources:
  Resources:
    UsersTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.USERS_TABLE}
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST

functions:
  hello:
    handler: src/handler.hello
    events:
      - httpApi:
          path: /
          method: get
  createUser:
    handler: src/users/handlers/createUser.main
    events:
      - httpApi:
          path: /users
          method: post
  getAllUsers:
    handler: src/users/handlers/getAllUsers.main
    events:
      - httpApi:
          path: /users
          method: get
  getUser:
    handler: src/users/handlers/getUser.main
    events:
      - httpApi:
          path: /users/{id}
          method: get
  deleteUser:
    handler: src/users/handlers/deleteUser.main
    events:
      - httpApi:
          path: /users/{id}
          method: delete

# Build nativo en Serverless v4 (reemplaza serverless-esbuild)
build:
  esbuild: true
  minify: false
  sourcemap: true
  target: node20
  platform: node

plugins:
  - serverless-offline
