service: serverless-ts-ecommerce

frameworkVersion: '4'

provider:
  name: aws
  runtime: nodejs20.x
  region: us-east-1
  stage: dev
  environment:
    USERS_TABLE: ${self:service}-users-${sls:stage}

resources:
  Resources:
    UsersTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.USERS_TABLE}
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST

functions:
  hello:
    handler: src/handler.hello
    events:
      - httpApi:
          path: /
          method: get

# Build nativo en Serverless v4 (reemplaza serverless-esbuild)
build:
  esbuild: true
  minify: false
  sourcemap: true
  target: node20
  platform: node

plugins:
  - serverless-offline
